.main-container-movie-gallery {
  background: #111;
  border: 1px solid #333;
  /* padding-top: 20px; */
  overflow-x: scroll;
  /* -ms-overflow-style: none; */
  scroll-snap-type: x mandatory;
  scroll-padding-left: 24px;
  box-sizing: border-box;
}
.gallery-wrapper {
  --width: 2520px;
  margin-left: auto;
  margin-right: auto;
  width: calc(1200px + calc(2 * 24px));
  padding-left: 24px;
  padding-right: 24px;
}

.gallery-image-wrapper {
  margin: 0 24px 0 0;
  display: inline-flex;
  overflow: hidden;
  scroll-snap-align: start;
  align-items: baseline;
}

.gallery-image {
  width: 300px;
  height: 450px;
  position: relative;
}

.movie-card {
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 70px;
}

.gallery-image img {
  border: 1px solid grey;
  border-radius: 10px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translatez(0);
  transition: transform 0.25s ease-out;
  background-color: rgb(254, 254, 254);
}

.gallery-image img:hover {
  transform: scale(1.05);
  filter: saturate(90%);
  box-shadow: 10px 10px 10px 10px #525151, -10px -10px 10px 10px #777777;
}
/* 
@media only screen and (min-width: 601px) {
  .gallery-image-wrapper {
    padding-top: 60px;
    margin-top: 60px;
  }
  .gallery-image {
    width: 480px;
    height: 320px;
  }
}
@media only screen and (max-width: 600px) {
  .gallery-image-wrapper {
    padding-top: 60px;
  }
  .gallery-image {
    width: 480px;
    height: 320px;
  }
}*/

@media only screen and (max-width: 600px) {
  /* .gallery-image-wrapper {
    padding-top: 60px;
  } */
  .gallery-image {
    /* width: 480px;
    height: 320px; */
    margin-top: 30px;
  }
  /* .movie-card {
    margin-top: 70px;
  } */
}
